{% extends "blog/base.html" %}
{% block content %}

<div class="container data-display">


  <div class="twelve columns">
  <h3>Event Product: {{ data.work_label }}</h3>
  </div>

  <table class="u-full-width prop-table table">
    <thead>
      <tr>
        <th>Property</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>rdf:type</td>
        <td>
        	<ul>
				{% for values in data.rdf_type %}
				   <li><a href="{{values}}">{{values}}</a></li>
				{% endfor %}
			</ul>
		</td>
      </tr>
      <tr>
        <td>Event</td>
        <td>
          <ul>
            {% for values in data.events %}
              <li><a href="{{values.0}}">{{values.1}}</a> ({{values.2}})</li>
            {% endfor %}
          </ul>
        </td>
      </tr>


      {% if data.unmapped %}
	      	{% for values in data.unmapped %}
	      	<tr>
		        <td>{{values.0}}</td>
		        <td>
		        	<ul>
                <li><a href="{{values.1}}">{{values.1}}</a></li>
              </ul>
            </td>
          </tr>
			{% endfor %}
      {% endif %}


    </tbody>
  </table>

<span>View Data As: <a rel="nofollow" href="./jsonld">JSON-LD</a> | <a rel="nofollow" href="./nt">N-Triples</a> | <a rel="nofollow" href="./turtle">Turtle</a> | <a rel="nofollow" href="./n3">N3</a> | <a rel="nofollow" href="./xml">XML</a></span>
</div>



{% endblock %}
