asgiref==3.2.10
Django==3.1.1
django-geojson==3.0.0
django-leaflet==0.26.0
django-tables2==2.3.1
folium==0.10.1
isodate==0.6.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2019.3
rdflib==4.2.2
six==1.14.0
SPARQLWrapper==1.8.5
sqlparse==0.3.0
wagtail==2.12
wagtailcodeblock==1.17.1.0
webencodings==0.5.1
Willow==1.4
django-environ==0.4.5
django-crispy-forms==1.12.0
wagtailmenus==3.0.2
wagtailcodeblock==1.17.1.0
markdown==3.3.4
psycopg2==2.8.6
dj_database_url==0.4.1
gunicorn==19.6.0
whitenoise==5.0.1
django-storages==3.1.1
boto3==1.17.101
