<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/datalab">Carnegie Hall Data Lab</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/datalab">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item" {{ about_page }}>
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
              <li class="nav-item" {{ experiments_page }}>
                <a class="nav-link" href="{% url 'experiments' %}">Experiments</a>
              </li>
              <li class="nav-item" {{ sparql_page }}>
                <a class="nav-link" href="/sparql">SPARQL</a>
              </li>
              <li class="nav-item" {{ contact_page }}>
                <a class="nav-link" href="{% url 'contact' %}">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'search-blog' %}">Search</a>
              </li>


            </ul>
        </div>
    </div>
</nav>
