{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="container-fluid pt-3 my-3">
    <h1 class="display-3 p-3 my-3 bg-success text-white">About</h1><hr>
    <h5 class="p-3 my-3">The Data Lab is a learning space for Carnegie Hall to expand our understanding of information innovation through experiments with linked open data, semantic technologies, and data-driven strategies that leverage the resources of the Carnegie Hall Archives.

We strive to reinforce Carnegie Hall’s role as a leading cultural heritage institution by investigating new ways to engage and educate by sharing a wider range of resources and context about our past, present, and future.</h5>
  </div>
</div>
{% endblock %}
