{% extends "base.html" %}
{% block content %}
  {% block container %}
    <table class="table">
      <tr>
          <thead class="thead-light">
              <tr>
                  <th scope="col">Title</th>
                  <th scope="col">Experiment ID</th>
              </tr>
          </thead>
          <tbody>
              {% for labReport in labReports %}
              <tr>
                  <td>{{labReport.title}}</td>
                  <td>{{labReport.experiment_id}}</td>
              </tr>
              {% endfor %}
          </tbody>
    </table>
    {% if is_paginated %}
        {% include "pagination.html" %}
    {% endif %}
  {% endblock %}
{% endblock %}
